<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="author" content="Daniel Rothschild" />
  <title></title>
  <style type="text/css">code{white-space: pre;}</style>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <link rel="stylesheet" href="{{ "/css/conf2.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{  "/favicon.ico" | prepend: site.baseurl }}">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#ffffff">
</head>
